*
!**\.gitattributes
!**\.gitignore
!**\.md

!/\.editorconfig
!/\.travis\.yml
!/config\.nims
!/LICENSE
!/scripts/
!/tests/

!/adventOfCode2019_16\.nim
!/adventOfCode2019_16\.nimble
!/adventOfCode2019_16/
